/* Overlay behind the modal */
.subscriptionmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* dark transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal box */
.subscriptionmodal-content {
  background: #fff;
  padding: 23px 55px;
  border-radius: 12px;
  width: 700px; 
  max-width: 90vw;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  animation: subscriptionmodal-pop 0.3s ease; 
}

/* Title */
.subscriptionmodal-content h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

/* Form elements */
.subscriptionmodal-content label {
  display: block;
  margin: 12px 0 6px;
  font-size: 14px;
  font-weight: 300;
  color: #4444449d;
}

.subscriptionmodal-content input,   
.subscriptionmodal-content textarea {
  width: 95%;
  padding: 8px 10px;
  border: 2px solid rgba(114, 161, 175, 0.153);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  backdrop-filter: blur(4px);
}

.subscriptionmodal-content textarea {
  min-height: 80px;
  resize: vertical;
}

/* Buttons row */
.subscriptionmodal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.subscriptionmodal-cancel-btn,
.subscriptionmodal-save-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.subscriptionmodal-cancel-btn {
  background: #f1f1f1;
  color: #333;
}

.subscriptionmodal-cancel-btn:hover {
  background: #e0e0e0;
}

.subscriptionmodal-save-btn {
  background: #ef6b37be;
  color: white;
}

.subscriptionmodal-save-btn:hover {
  background: #ff6a2f;
}


/* Pop animation */
@keyframes subscriptionmodal-pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
