/* Section */
.seekerfilter-rec-seek {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.seekerfilter-section {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.seekerfilter-section h2 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
  color: #444;
}

/* Table */
.seekerfilter-table-container {
  overflow-x: auto;
  position: relative;
}

.seekerfilter-add-btn {
  background: #ef6a37;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: -55px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.seekerfilter-add-btn:hover {
  background: #d95b28;
}

.seekerfilter-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.seekerfilter-table th,
.seekerfilter-table td {
  padding: 17px 26px;
  color: #7c8c9d;
  text-align: left;
  border-bottom: 1px solid #eeeeeeca;
}

.seekerfilter-table th {
  background: #becbdb19;
  color: #444;
  font-weight: 500;
}

/* Actions */
.seekerfilter-actions {
  white-space: nowrap;
}

/* Action buttons */
.seekerfilter-btn {
  padding: 10px 14px;
  margin: 0 4px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.seekerfilter-btn:hover {
  transform: translateY(-2px);
}

.view-btn {
  background-color: #e6f0ff;
  color: #3d6dff;
  font-size: large;
}

.edit-btn {
  background-color: #ffeee6;
  color: #e89e2f;
  font-size: large;
}

.delete-btn {
  background-color: #ffeee6;
  color: #df4646;
  font-size: large;
}

.view-btn:hover {
  background-color: #c4ddfe;
}

.edit-btn:hover {
  background-color: #ffe0d1;
}

.delete-btn:hover {
  background-color: #ffd9c8;
}
