/* Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  height: 100%;
} */

/* Background wrapper */
/* .app-container {
  min-height: 100vh;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
} */
  